<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataSource</key>
	<string>http://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States</string>
	<key>lastModified</key>
	<date>2013-05-29T17:38:38Z</date>
	<key>menu</key>
	<array>
		<dict>
			<key>menuItem</key>
			<string>Wraps</string>
			<key>image</key>
			<string>wraps</string>
			<key>optionOne</key>
			<string>Jerk Chicken Wrap</string>
			<key>priceOne</key>
			<string>$12.00</string>
			<key>descOne</key>
			<string>fdjkfd</string>
			<key>optionTwo</key>
			<string>Veggie Wrap</string>
			<key>priceTwo</key>
			<string>$12.00</string>
			<key>descTwo</key>
			<string>dfsfsdfsd</string>
			<key>optionThree</key>
			<string>Grilled Chicken Wrap</string>
			<key>priceThree</key>
			<string>$10.00</string>
			<key>descThree</key>
			<string>sdfdsfdf</string>
			<key>optionFour</key>
			<string>Curry Chicken Wrap</string>
			<key>priceFour</key>
			<string>$12.00</string>
			<key>descFour</key>
			<string>dsfdfsd</string>
			<key>optionFive</key>
			<string>Special Wraps</string>
			<key>priceFive</key>
			<string>$15.00</string>
			<key>descFive</key>
			<string>dfdfsdsdf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Rubbish Plates</string>
			<key>image</key>
			<string>rubbish</string>
			<key>optionOne</key>
			<string>Jerk Chicken Rubbish Plate</string>
			<key>priceOne</key>
			<string>$18.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Veggie Rubbish Plate</string>
			<key>priceTwo</key>
			<string>$18.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Grilled Chicken Rubbish Plate</string>
			<key>priceThree</key>
			<string>$15.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Curry Chicken Rubbish Plate</string>
			<key>priceFour</key>
			<string>$18.00</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>Special Rubbish Plates</string>
			<key>priceFive</key>
			<string>$21.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Salads</string>
			<key>image</key>
			<string>salads</string>
			<key>optionOne</key>
			<string>Jerk Chicken Salad</string>
			<key>priceOne</key>
			<string>$15.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Veggie Salad</string>
			<key>priceTwo</key>
			<string>$15.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Grilled Chicken Salad</string>
			<key>priceThree</key>
			<string>$12.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Curry Chicken Salad</string>
			<key>priceFour</key>
			<string>$15.00</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>Special Salads</string>
			<key>priceFive</key>
			<string>$16.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Dinners</string>
			<key>image</key>
			<string>dinner</string>
			<key>optionOne</key>
			<string>Jerk Chicken Dinner</string>
			<key>priceOne</key>
			<string>$18.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Veggie Dinner</string>
			<key>priceTwo</key>
			<string>$20.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Grilled Chicken Dinner</string>
			<key>priceThree</key>
			<string>$15.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Curry Chicken Dinner</string>
			<key>priceFour</key>
			<string>$18.00</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>Special Dinners</string>
			<key>priceFive</key>
			<string>$20.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Specials</string>
			<key>image</key>
			<string>special</string>
			<key>optionOne</key>
			<string>Callaloo</string>
			<key>priceOne</key>
			<string>$20.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Ackee and Saltfish</string>
			<key>priceTwo</key>
			<string>$23.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Steamed Okra</string>
			<key>priceThree</key>
			<string>$20.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Seafood</string>
			<key>priceFour</key>
			<string>$20+</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>Oxtail</string>
			<key>priceFive</key>
			<string>$20.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Sides</string>
			<key>image</key>
			<string>side</string>
			<key>optionOne</key>
			<string>Rice and Peas</string>
			<key>priceOne</key>
			<string>$5.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Soup</string>
			<key>priceTwo</key>
			<string>$7.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Plantains</string>
			<key>priceThree</key>
			<string>$6.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Steamed Cabbage</string>
			<key>priceFour</key>
			<string>$5.00</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>House Salad</string>
			<key>priceFive</key>
			<string>$5.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Beverages</string>
			<key>image</key>
			<string>drink</string>
			<key>optionOne</key>
			<string>Island Beverages</string>
			<key>priceOne</key>
			<string>$5.00</string>
			<key>descOne</key>
			<string>sdfsdfsdf</string>
			<key>optionTwo</key>
			<string>Pepsi Products</string>
			<key>priceTwo</key>
			<string>$3.00</string>
			<key>descTwo</key>
			<string>sdfsdfsdf</string>
			<key>optionThree</key>
			<string>Water</string>
			<key>priceThree</key>
			<string>$2.00</string>
			<key>descThree</key>
			<string>fdsfsdf</string>
			<key>optionFour</key>
			<string>Ting</string>
			<key>priceFour</key>
			<string>$4.00</string>
			<key>descFour</key>
			<string>dfffeefdscx</string>
			<key>optionFive</key>
			<string>Smoothies</string>
			<key>priceFive</key>
			<string>$7.00</string>
			<key>descFive</key>
			<string>sdfsddf</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<dict>
			<key>eventAddress</key>
			<string>1440 South Ave, Rochester, NY, 14620
Rochester, New York</string>
			<key>eventName</key>
			<string>Monroe County Lilac Festival</string>
			<key>latitude</key>
			<string>43.1300</string>
			<key>longitude</key>
			<string>-77.6050</string>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>Main Street, Fairport , NY, 14450</string>
			<key>eventName</key>
			<string>Fairport Canal Days</string>
			<key>latitude</key>
			<string>43.098675</string>
			<key>longitude</key>
			<string>-77.441940</string>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>274 E Bank St, Albion, NY, 14411</string>
			<key>eventName</key>
			<string>Albion Strawberry Festival</string>
			<key>latitude</key>
			<string>43.246449</string>
			<key>longitude</key>
			<string>-78.193634</string>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>41 Lake St, Oswego, NY, 13126</string>
			<key>eventName</key>
			<string>The Oswego HarborFest</string>
			<key>latitude</key>
			<string>43.46259140</string>
			<key>longitude</key>
			<string>-76.50951290</string>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>851 Center St, Lewiston, NY, 14092
</string>
			<key>eventName</key>
			<string>The Annual County Peach Festival</string>
			<key>latitude</key>
			<string>43.172883</string>
			<key>longitude</key>
			<string>-79.042783</string>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>845 Yellow Mills Road Palmyra, NY, 14522</string>
			<key>eventName</key>
			<string>The Purple Painted Lady Festival/Barn Sale</string>
			<key>latitude</key>
			<string>43.041042</string>
			<key>longitude</key>
			<string>-77.258939</string>
		</dict>
	</array>
</dict>
</plist>
