<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu</key>
	<array>
		<dict>
			<key>menuItem</key>
			<string>Wraps</string>
			<key>image</key>
			<string>wraps</string>
			<key>optionOne</key>
			<string>Jerk Chicken Wrap</string>
			<key>priceOne</key>
			<string>$12.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Veggie Wrap</string>
			<key>priceTwo</key>
			<string>$12.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Grilled Chicken Wrap</string>
			<key>priceThree</key>
			<string>$10.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Curry Chicken Wrap</string>
			<key>priceFour</key>
			<string>$12.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Special Wraps</string>
			<key>priceFive</key>
			<string>$15.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem0</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Rubbish Plates</string>
			<key>image</key>
			<string>rubbish</string>
			<key>optionOne</key>
			<string>Jerk Chicken Rubbish Plate</string>
			<key>priceOne</key>
			<string>$18.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Veggie Rubbish Plate</string>
			<key>priceTwo</key>
			<string>$18.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Grilled Chicken Rubbish Plate</string>
			<key>priceThree</key>
			<string>$15.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Curry Chicken Rubbish Plate</string>
			<key>priceFour</key>
			<string>$18.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Special Rubbish Plates</string>
			<key>priceFive</key>
			<string>$21.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem1</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Salads</string>
			<key>image</key>
			<string>salads</string>
			<key>optionOne</key>
			<string>Jerk Chicken Salad</string>
			<key>priceOne</key>
			<string>$15.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Veggie Salad</string>
			<key>priceTwo</key>
			<string>$15.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Grilled Chicken Salad</string>
			<key>priceThree</key>
			<string>$12.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Curry Chicken Salad</string>
			<key>priceFour</key>
			<string>$15.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Special Salads</string>
			<key>priceFive</key>
			<string>$16.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem2</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Dinners</string>
			<key>image</key>
			<string>dinner</string>
			<key>optionOne</key>
			<string>Jerk Chicken Dinner</string>
			<key>priceOne</key>
			<string>$18.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Veggie Dinner</string>
			<key>priceTwo</key>
			<string>$20.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Grilled Chicken Dinner</string>
			<key>priceThree</key>
			<string>$15.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Curry Chicken Dinner</string>
			<key>priceFour</key>
			<string>$18.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Special Dinners</string>
			<key>priceFive</key>
			<string>$20.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem3</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Specials</string>
			<key>image</key>
			<string>special</string>
			<key>optionOne</key>
			<string>Callaloo</string>
			<key>priceOne</key>
			<string>$20.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Ackee and Saltfish</string>
			<key>priceTwo</key>
			<string>$23.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Steamed Okra</string>
			<key>priceThree</key>
			<string>$20.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Seafood</string>
			<key>priceFour</key>
			<string>$20+</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Oxtail</string>
			<key>priceFive</key>
			<string>$20.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem4</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Sides</string>
			<key>image</key>
			<string>side</string>
			<key>optionOne</key>
			<string>Rice and Peas</string>
			<key>priceOne</key>
			<string>$5.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Soup</string>
			<key>priceTwo</key>
			<string>$7.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Plantains</string>
			<key>priceThree</key>
			<string>$6.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Steamed Cabbage</string>
			<key>priceFour</key>
			<string>$5.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>House Salad</string>
			<key>priceFive</key>
			<string>$5.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem5</string>
			<key>isAdded</key>
			<false/>
		</dict>
		<dict>
			<key>menuItem</key>
			<string>Beverages</string>
			<key>image</key>
			<string>drink</string>
			<key>optionOne</key>
			<string>Island Beverages</string>
			<key>priceOne</key>
			<string>$5.00</string>
			<key>descOne</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionTwo</key>
			<string>Pepsi Products</string>
			<key>priceTwo</key>
			<string>$3.00</string>
			<key>descTwo</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionThree</key>
			<string>Water</string>
			<key>priceThree</key>
			<string>$2.00</string>
			<key>descThree</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFour</key>
			<string>Ting</string>
			<key>priceFour</key>
			<string>$4.00</string>
			<key>descFour</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>optionFive</key>
			<string>Smoothies</string>
			<key>priceFive</key>
			<string>$7.00</string>
			<key>descFive</key>
			<string>Curabitur luctus tristique pretium. Mauris tempor posuere luctus. Mauris et fringilla orci. Aliquam sed erat dapibus, aliquet sem a, tincidunt quam. Maecenas sit amet ultrices nulla. Etiam non semper nisl. Fusce a nisl ac lacus maximus eleifend in ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta dolor sed tellus luctus vehicula.</string>
			<key>quantity</key>
			<integer>0</integer>
			<key>id</key>
			<string>menuItem6</string>
			<key>isAdded</key>
			<false/>
		</dict>
	</array>
	<key>events</key>
	<array>
		<dict>
			<key>eventAddress</key>
			<string>1440 South Ave, Rochester, NY, 14620
Rochester, New York</string>
			<key>eventName</key>
			<string>Monroe County Lilac Festival</string>
			<key>latitude</key>
			<real>43.13</real>
			<key>longitude</key>
			<real>-77.605</real>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>Main Street, Fairport , NY, 14450</string>
			<key>eventName</key>
			<string>Fairport Canal Days</string>
			<key>latitude</key>
			<real>43.098675</real>
			<key>longitude</key>
			<real>-77.44194</real>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>274 E Bank St, Albion, NY, 14411</string>
			<key>eventName</key>
			<string>Albion Strawberry Festival</string>
			<key>latitude</key>
			<real>43.246449</real>
			<key>longitude</key>
			<real>-78.193634</real>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>41 Lake St, Oswego, NY, 13126</string>
			<key>eventName</key>
			<string>The Oswego HarborFest</string>
			<key>latitude</key>
			<real>43.4625914</real>
			<key>longitude</key>
			<real>-76.5095129</real>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>851 Center St, Lewiston, NY, 14092
</string>
			<key>eventName</key>
			<string>The Annual County Peach Festival</string>
			<key>latitude</key>
			<real>43.172883</real>
			<key>longitude</key>
			<real>-79.042783</real>
		</dict>
		<dict>
			<key>eventAddress</key>
			<string>845 Yellow Mills Road Palmyra, NY, 14522</string>
			<key>eventName</key>
			<string>The Purple Painted Lady Festival/Barn Sale</string>
			<key>latitude</key>
			<real>43.041042</real>
			<key>longitude</key>
			<real>-77.258939</real>
		</dict>
	</array>
</dict>
</plist>
